{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12 main-div">
	<div class="col-md-4">
		<img class="img-responsive avatar" src="{{ asset('img/try.jpg')}}" />
	</div>
	<div class="col-md-6"></div>
	<div class="col-md-2"></div>
</div>

{% endblock %}
